<section style="margin-top: 76px;">
  <nav class="navbar navbar-expand-md bg-light navbar-light ">


    <ul class="navbar-nav w-100 justify-content-xl-end">
      <li class="nav-item">
        <a class="nav-link" href="#">Nos offres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Rooms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <div class="container-fluid">

      <!-- Button to Open the Modal -->


      <!-- The Modal -->
<!--      <div class="modal fade" id="myModal">-->
<!--        <div class="modal-dialog">-->
<!--          <div class="modal-content">-->

<!--            &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--            <div class="modal-header">-->
<!--              <h4 class="modal-title ml-auto">Verifier la disponibilité</h4>-->
<!--              <button type="button" class="close" data-dismiss="modal">×</button>-->
<!--            </div>-->

<!--            &lt;!&ndash; Modal body &ndash;&gt;-->
<!--            <div class="modal-body">-->

<!--              <form class="form-inline" action="/action_page.php" style="margin: auto">-->
<!--                <div class="col-md-4"><label for="datetime-local">ARRIVER: </label> </div>-->
<!--                <div class="col-md-8">-->
<!--                  <input type="datetime-local" class="form-control" id="datetime-local" placeholder="Enter email" name="datetime-local">-->
<!--                </div>-->
<!--                <div class="col-md-4"><label for="datetime-local">DEPART: </label> </div>-->

<!--                <div class="col-md-8">-->
<!--                  <input type="datetime-local" class="form-control" id="datetime-local2" placeholder="Enter email" name="datetime-local">-->
<!--                </div>-->

<!--                <div class="col-md-12"><button type="submit" class="btn btn-outline-secondary">reserver</button></div>-->
<!--              </form>-->

<!--            </div>-->

<!--            &lt;!&ndash; Modal footer &ndash;&gt;-->
<!--            <div class="modal-footer">-->
<!--              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">fermer</button>-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

    </div>

  </nav>


</section>
<section>

  <div class="container-fluid">

    <div class="row ">
      <div class="col-8 bg-dark p-lg-5">
        <div class="col-12 bg-light p-lg-5">
        <h2 class="m-lg-5">Booking</h2>
        <button type="button" class="btn btn-outline-secondary ml-sm-5 " data-toggle="collapse" data-target="#demo0">verifier la disponibilité</button>
        <button type="button" class="btn btn-outline-secondary ml-sm-5" data-toggle="collapse" data-target="#demo2">continuer la reservation</button>
        <button type="button" class="btn btn-outline-secondary ml-sm-5" data-toggle="collapse" data-target="#demo3">invités</button>
        </div>
        <h2 class="mt-4 text-md-center">Select Room</h2>
<!--        .col-8-->
        <div class="row">
          <!----------------------section1---->

<!--          <div class="container-fluid">-->
<!--            &lt;!&ndash;  <h2>Simple Collapsible</h2>&ndash;&gt;-->
<!--            &lt;!&ndash;  <p>Click on the button to toggle between showing and hiding content.</p>&ndash;&gt;-->
<!--            &lt;!&ndash;  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Simple collapsible</button>&ndash;&gt;-->
<!--            <div id="demo0" class="collapse">-->

<!--              <div id="section0" class="container-fluid bg-light" style="padding-top:70px;padding-bottom:70px">-->
<!--&lt;!&ndash;                <h6>enregistrement</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                <form class="form-inline" action="/action_page.php" style="margin: auto">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="col-md-4"><label for="datetime-local">ARRIVER: </label> </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="col-md-8">&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="datetime-local" class="form-control" id="datetime-local" placeholder="Enter email" name="datetime-local">&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="col-md-4"><label for="datetime-local">DEPART: </label> </div>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="col-md-8">&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="datetime-local" class="form-control" id="datetime-local2" placeholder="Enter email" name="datetime-local">&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="col-md-12"><button type="submit" class="btn btn-outline-secondary">verifier la disponibilité</button></div>&ndash;&gt;-->
<!--&lt;!&ndash;                </form>&ndash;&gt;-->

<!--              </div>-->
<!--              <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#demo2">back</button>-->
<!--              <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#demo3">info personnelles</button>-->
<!--            </div>-->

<!--          </div>-->

          <!--------------------------------fin----------------section1-->


          <!-------------------------------------------------------------- -->

          <div class="container-fluid">
            <!--  <h2>Simple Collapsible</h2>-->
            <!--  <p>Click on the button to toggle between showing and hiding content.</p>-->
            <!--  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Simple collapsible</button>-->
            <div id="demo" class="collapse">
              <div> <h6>date de reservation</h6></div>
              <div id="section1" class="container-fluid bg-light" style="padding-top:70px;padding-bottom:70px">
                <h2>date de reservation</h2>
                <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
                <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
              </div>
              <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#demo2">back</button>
              <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#demo2">continuer la reservation</button>
            </div>

          </div>
          <div class="container-fluid">
            <!--  <h2>Simple Collapsible</h2>-->
            <!--  <p>Click on the button to toggle between showing and hiding content.</p>-->
            <!--  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Simple collapsible</button>-->
            <div id="demo2" class="collapse">
              <!-------------------------------------------stepper------------------------------------>


              <div class="container bg-light">
                <!--  <h1 name="{{ name }}"></h1>-->
                <div id="stepper1" class="bs-stepper">
                  <div class="bs-stepper-header">
                    <div class="step" data-target="#test-l-0">
                      <button class="step-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Date</span>
                      </button>
                    </div>

                    <div class="line"></div>
                    <div class="step" data-target="#test-l-2">
                      <button class="step-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">enregistrement</span>
                      </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-3">
                      <button class="step-trigger">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Guest</span>
                      </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-4">
                      <button class="step-trigger">
                        <span class="bs-stepper-circle">4</span>
                        <span class="bs-stepper-label">Payement</span>
                      </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-3">
                      <button class="step-trigger">
                        <span class="bs-stepper-circle">5</span>
                        <span class="bs-stepper-label">Validate</span>
                      </button>
                    </div>
                  </div>
                  <div class="bs-stepper-content">
                    <form (ngSubmit)="onSubmit()">
                      <div id="test-l-0" class="content">
                        <div class="form-group">
                          <label for="checkInDate">CheckIn</label>
                          <input type="text" bsDatepicker class="form-control " id="checkInDate" placeholder="date" name="checkInDate">
                        </div>
                        <div class="form-group">
                          <label for="checkOutDate">CheckOut</label>
                          <input type="text" bsDatepicker class="form-control " id="checkOutDate" placeholder="date" name="checkOutDate">
                        </div>
                        <button (click)="next()" class="btn btn-primary">Next</button>
                      </div>


                      <div id="test-l-1" class="content">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />
                        </div>
                        <button (click)="next()" class="btn btn-primary">Next</button>
                      </div>
                      <!-------------------------step Guest--------------------------------->
                      <div id="test-l-2" class="content">
                        <div class="form-group col-lg-12">
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="customRadio3" name="example2">
                            <label class="custom-control-label" for="customRadio3">Male</label>
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="customRadio5" name="example2">
                            <label class="custom-control-label" for="customRadio5">Female</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-lg-6">
                            <label for="name"></label>
                            <input type="name" class="form-control" id="name" placeholder="Name" />
                          </div>
                          <div class="form-group col-lg-6">
                            <label for="lastName"></label>
                            <input type="text" class="form-control" id="lastName" placeholder="LastName" />
                          </div>

                          <div class="form-group col-lg-6">
                            <label for="email"></label>
                            <input type="email" class="form-control" id="email" placeholder="Email" />
                          </div>
                          <div class="form-group col-lg-6">
                            <label for="phone"></label>
                            <input type="text" class="form-control" id="phone" placeholder="Phone" />
                          </div>
                          <div class="form-group col-lg-6">
                            <label for="adresse"></label>
                            <input type="text" class="form-control" id="adresse" placeholder="Adresse" />
                          </div>


                          <div class="form-group col-lg-6">
                            <label for="ville"></label>
                            <input type="ville" class="form-control" id="ville" placeholder="Ville" />
                          </div>
                          <div class="form-group col-lg-6">
                            <label for="zipCode"></label>
                            <input type="text" class="form-control" id="zipCode" placeholder="zip code" />
                            </div>

                          <div class="form-group col-lg-6">
                            <label for="exampleInputPassword4"></label>
                            <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password" />
                          </div>
<!--                          <div class="form-group col-lg-6">-->
<!--                            <label for="exampleInputPassword5"></label>-->
<!--                            <input type="password" class="form-control" id="exampleInputPassword5" placeholder="Password" />-->
<!--                          </div>-->
                          <div class="form-group col-lg-6">

                            <select class="form-control" id="sel1" name="sellist1">
                              <option selected>pays</option>
                              <option value="1">France</option>
                              <option value="2">Afghanistan</option>
                              <option value="3">Aland Islands</option>
                            </select>
                          </div>

                        </div>

                        <button (click)="next()" class="btn btn-primary">Next</button>
                      </div>
                      <!------------------------------------------------------------->


                      <div id="test-l-3" class="content">


                        <div class="form-group col-lg-12">
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="customRadio6" name="example2">
                            <label class="custom-control-label" for="customRadio3">Male</label>
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="customRadio7" name="example2">
                            <label class="custom-control-label" for="customRadio5">Female</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-lg-6">
                            <label for="name"></label>
                            <input type="name" class="form-control" id="nameGuest" placeholder="Name" />
                          </div>
                          <div class="form-group col-lg-6">
                            <label for="lastNameGuest"></label>
                            <input type="text" class="form-control" id="lastNameGuest" placeholder="Last Name Guest" />
                          </div>
                          <div class="form-group col-lg-2">
                            <label for="age"></label>
                            <input type="number" class="form-control" id="age" placeholder="Age" />
                          </div>
                          <div class="form-group col-lg-4">
                            <label for="lastNameGuest2"></label>
                            <input type="text" class="form-control" id="lastNameGuest2" placeholder="lastNameGuest" />
                          </div>
                          <div class="form-group col-lg-6">
                            <label for="lastNameGuest3"></label>
                            <input type="text" class="form-control" id="lastNameGuest3" placeholder="lastNameGuest" />
                          </div>


                        </div>
                        <button (click)="next()" class="btn btn-primary">Next</button>
                      </div>


                    <!--------------------------payement--------------------------->
                      <div id="test-l-4" class="content">

                        <div class="row">
                          <h6>Payement</h6>
                          <hr />
                          <google-pay-button
                            environment="TEST"
                            buttonType="buy"
                            buttonColor="black"
                            [paymentRequest]="paymentRequest"
                            (loadpaymentdata)="onLoadPaymentData($event)"
                            (error)="onError($event)"
                            [paymentAuthorizedCallback]="onPaymentDataAuthorized"
                          >
                          </google-pay-button>


                        </div>
                        <button (click)="next()" class="btn btn-primary">Next</button>
                      </div>








                      <div id="test-l-5" class="content text-center">
                        <button type="submit" class="btn btn-primary mt-5">Submit</button>
                      </div>
                    </form>



                  </div>
                </div>
              </div>



              <!----------------------------fin-----------stepper----------------------------------->

<!--              <div id="section2" class="container-fluid bg-light" style="padding-top:70px;padding-bottom:70px">-->
<!--                <h5>info personnelles</h5>-->
<!--                <form action="/action_page.php" class="was-validated">-->
<!--                 <div class="row">-->

<!--                   &lt;!&ndash; GENRE RADIO&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--                   <div class="form-group col-lg-12">-->
<!--                     <div class="custom-control custom-radio custom-control-inline">-->
<!--                       <input type="radio" class="custom-control-input" id="customRadio1" name="example2">-->
<!--                       <label class="custom-control-label" for="customRadio1">Male</label>-->
<!--                     </div>-->
<!--                     <div class="custom-control custom-radio custom-control-inline">-->
<!--                       <input type="radio" class="custom-control-input" id="customRadio2" name="example2">-->
<!--                       <label class="custom-control-label" for="customRadio2">Female</label>-->
<!--                     </div>-->
<!--                   </div>-->


<!--                   &lt;!&ndash; name first nane&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--                   <div class="form-group col-lg-6">-->
<!--                     <label for="firstname">First name:</label>-->
<!--                     <input type="text" class="form-control" id="firstname" placeholder="Enter firt name" name="firstname" required>-->
<!--                     <div class="valid-feedback">Valid.</div>-->
<!--                     <div class="invalid-feedback">Please fill out this field.</div>-->
<!--                   </div>-->

<!--                   <div class="form-group col-lg-6">-->
<!--                     <label for="name">name:</label>-->
<!--                     <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>-->
<!--                     <div class="valid-feedback">Valid.</div>-->
<!--&lt;!&ndash;                     <div class="invalid-feedback">Please fill out this field.</div>&ndash;&gt;-->
<!--                   </div>-->
<!--                   &lt;!&ndash; addresse mail phone&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--                   <div class="form-group col-lg-6">-->
<!--                     <label for="email">Email:</label>-->
<!--                     <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>-->
<!--                     <div class="valid-feedback">Valid.</div>-->
<!--&lt;!&ndash;                     <div class="invalid-feedback">Please fill out this field.</div>&ndash;&gt;-->
<!--                   </div>-->
<!--                   <div class="form-group col-lg-6">-->
<!--                     <label for="phone">Phone:</label>-->
<!--                     <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone" required>-->
<!--                     <div class="valid-feedback">Valid.</div>-->
<!--&lt;!&ndash;                     <div class="invalid-feedback">Please fill out this field.</div>&ndash;&gt;-->
<!--                   </div>-->

<!--                   &lt;!&ndash; addresse cunty&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--                   <div class="form-group col-lg-6">-->
<!--                     <label for="uname">Username:</label>-->
<!--                     <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>-->

<!--&lt;!&ndash;                     <div class="invalid-feedback">Please fill out this field.</div>&ndash;&gt;-->
<!--                   </div>-->
<!--                   <div class="form-group col-lg-6">-->
<!--                     <label for="pwd">Password:</label>-->
<!--                     <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>-->

<!--&lt;!&ndash;                     <div class="invalid-feedback">Please fill out this field.</div>&ndash;&gt;-->
<!--                   </div>-->


<!--                   &lt;!&ndash; addresse&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--                 </div>-->
<!--                  <div class="form-group form-check">-->
<!--                    <label class="form-check-label">-->
<!--                      <input class="form-check-input" type="checkbox" name="remember" required> I agree on blabla.-->
<!--                      <div class="valid-feedback">Valid.</div>-->
<!--                      <div class="invalid-feedback">Check this checkbox to continue.</div>-->
<!--                    </label>-->
<!--                  </div>-->
<!--                  <button type="submit" class="btn btn-outline-secondary"  data-toggle="collapse" data-target="#demo2">Submit</button>-->
<!--                </form>-->
<!--&lt;!&ndash;                <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#demo2">back</button>&ndash;&gt;-->
<!--              </div>-->
<!--              <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#demo2">back</button>-->
<!--              <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#demo3">invités</button>-->
            </div>
          </div>
<!--          <div class="container-fluid">-->
            <!--  <h2>Simple Collapsible</h2>-->
            <!--  <p>Click on the button to toggle between showing and hiding content.</p>-->
            <!--  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Simple collapsible</button>-->



<!--            <div id="demo3" class="collapse">-->
<!--              <div> <h3>invités</h3></div>-->
<!--              <div id="section4" class="container-fluid bg-light" style="padding-top:70px;padding-bottom:70px">-->
<!--                <h6>invités</h6>-->
<!--                <form class="form-inline" action="/action_page.php" style="margin: auto">-->
<!--                  <div class="col-md-4"><label for="datetime-local">ARRIVER: </label> </div>-->
<!--                  <div class="col-md-8">-->
<!--                    <input type="datetime-local" class="form-control" id="datetime-local5" placeholder="Enter email" name="datetime-local">-->
<!--                  </div>-->
<!--                  <div class="col-md-4"><label for="datetime-local">DEPART: </label> </div>-->

<!--                  <div class="col-md-8">-->
<!--                    <input type="datetime-local" class="form-control" id="datetime-local3" placeholder="Enter email" name="datetime-local">-->
<!--                  </div>-->

<!--                  <div class="col-md-12"><button type="submit" class="btn btn-outline-secondary">reserver</button></div>-->
<!--                </form>-->

<!--              </div>-->
<!--              <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#demo2">back</button>-->
<!--              <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#demo3">info personnelles</button>-->
<!--            </div>-->

<!--          </div>-->

          <!--  <section style="min-height: 600px; background: aqua; ">-->
          <!--</section>-->



 <!-- ---------------------------------------------------------- -->

        </div>

      </div>
      <div class="col-4 bg-light m-0">
        <div class="card  p-md-0" >
          <!--  <img class="card-img-top"-->

          <picture><source media="(min-width:768px)" srcset="../../../assets/suku3.jpg">
            <img class="card-img-top" alt="couple" src="../../../assets/suku3.jpg" srcset="../../../assets/suku3.jpg" >
          </picture>
          <!--       src="img_avatar1.png" alt="Card image" style="width:100%">-->
          <div class="card-body">
            <h4 class="card-title">Room accacia</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a routerLink="/reservations" class="btn btn-outline-secondary stretched-link">Reserver</a>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>

<!--<div class="container">-->
<!--&lt;!&ndash;  <h1 name="{{ name }}"></h1>&ndash;&gt;-->
<!--  <div id="stepper1" class="bs-stepper">-->
<!--    <div class="bs-stepper-header">-->
<!--      <div class="step" data-target="#test-l-0">-->
<!--        <button class="step-trigger">-->
<!--          <span class="bs-stepper-circle">1</span>-->
<!--          <span class="bs-stepper-label">CheckIn-CheckOut Date</span>-->
<!--        </button>-->
<!--      </div>-->

<!--      <div class="line"></div>-->
<!--      <div class="step" data-target="#test-l-2">-->
<!--        <button class="step-trigger">-->
<!--          <span class="bs-stepper-circle">2</span>-->
<!--          <span class="bs-stepper-label">Password</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="line"></div>-->
<!--      <div class="step" data-target="#test-l-2">-->
<!--        <button class="step-trigger">-->
<!--          <span class="bs-stepper-circle">3</span>-->
<!--          <span class="bs-stepper-label">Password</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="line"></div>-->
<!--      <div class="step" data-target="#test-l-2">-->
<!--        <button class="step-trigger">-->
<!--          <span class="bs-stepper-circle">4</span>-->
<!--          <span class="bs-stepper-label">Password</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="line"></div>-->
<!--      <div class="step" data-target="#test-l-3">-->
<!--        <button class="step-trigger">-->
<!--          <span class="bs-stepper-circle">5</span>-->
<!--          <span class="bs-stepper-label">Validate</span>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="bs-stepper-content">-->
<!--      <form (ngSubmit)="onSubmit()">-->
<!--        <div id="test-l-0" class="content">-->
<!--          <div class="form-group">-->
<!--            <label for="checkInDate">CheckIn</label>-->
<!--            <input type="text" bsDatepicker class="form-control " id="checkInDate" placeholder="date" name="datetime-local3">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="checkOutDate">CheckOut</label>-->
<!--            <input type="text" bsDatepicker class="form-control " id="checkOutDate" placeholder="date" name="datetime-local3">-->
<!--          </div>-->
<!--          <button (click)="next()" class="btn btn-primary">Next</button>-->
<!--        </div>-->


<!--        <div id="test-l-1" class="content">-->
<!--          <div class="form-group">-->
<!--            <label for="exampleInputEmail1">Email address</label>-->
<!--            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />-->
<!--          </div>-->
<!--          <button (click)="next()" class="btn btn-primary">Next</button>-->
<!--        </div>-->
<!--        <div id="test-l-2" class="content">-->
<!--          <div class="form-group">-->
<!--            <label for="exampleInputPassword1">Password</label>-->
<!--            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />-->
<!--          </div>-->
<!--          <button (click)="next()" class="btn btn-primary">Next</button>-->
<!--        </div>-->
<!--        <div id="test-l-3" class="content text-center">-->
<!--          <button type="submit" class="btn btn-primary mt-5">Submit</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!-----------google pay------------------------------------------------------------------>
