<nav class="kolo navbar navbar-expand-sm bg-dark navbar-dark fixed-top " >

  <!-- Brand -->
  <a class="navbar-brand bg-white p-md-2 rounded-circle " routerLink="/">
    <img src="assets/logoKcHommeNouveau2.png" alt="Responsive image" width="40"
         class="logohover">
<!--    <img src="assets/logoKcHommeNouveau2.png" alt="logo" width="40">
-->

  </a>

  <!-- Links -->
  <div id="navcolor">
  <ul class="navbar-nav" id="no" style="margin-left: 650px;">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/rooms">Rooms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/reservations">Reserver</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/employer-manager">Employer-Manager</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Nos appartements
      </a>
      <div class="dropdown-menu " style="min-width: 1200px; margin-left: -600px;">
        <a class="nav-link" href="#section1">Appartements avec 1 chambre</a>
        <a class="nav-link" href="#section1">Appartements avec 2 chambres</a>

        <div class="card " >
          <!--  <img class="card-img-top"-->


            <img class="card-img-top w-25" alt="Card image" src="../../../assets/suku3.jpg" srcset="../../../assets/suku3.jpg" >


          <div class="card-body">
            <h4 class="card-title">Room accacia</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a routerLink="/reservations" class="btn btn-outline-secondary stretched-link">Reserver</a>

          </div>
      </div>
      </div>
    </li>
  </ul>
 </div>
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="collapsibleNavbar">-->
<!--    <ul class="navbar-nav">-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

</nav>

