<section style="margin-top: 76px;">
  <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top w-100 mt-xl-5 p-lg-2">


    <ul class="navbar-nav w-100 justify-content-end ">
      <li class="nav-item">
        <a class="nav-link" href="#">Appartememts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nos offres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <button routerLink="/reservations"  type="button" class="btn btn-outline-secondary ml-sm-5" data-toggle="modal" data-target="#myModal">
      RESERVER
    </button>
    <div class="container-fluid">
<!--      <h6>Modal Example</h6>-->
      <!-- Button to Open the Modal -->


      <!-- The Modal -->
<!--      <div class="modal fade" id="myModal">-->
<!--        <div class="modal-dialog">-->
<!--          <div class="modal-content">-->

<!--            &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--            <div class="modal-header">-->
<!--              <h4 class="modal-title ml-auto">Verifier la disponibilité</h4>-->
<!--              <button type="button" class="close" data-dismiss="modal">×</button>-->
<!--            </div>-->

<!--            &lt;!&ndash; Modal body &ndash;&gt;-->
<!--            <div class="modal-body">-->

<!--              <form class="form-inline"  style="margin: auto">-->
<!--                <div class="col-md-4"><label for="datetime-local">ARRIVER: </label> </div>-->
<!--                <div class="col-md-8">-->
<!--                  <input type="datetime-local" class="form-control" id="datetime-local" placeholder="Enter email" name="datetime-local">-->
<!--                </div>-->
<!--                <div class="col-md-4"><label for="datetime-local">DEPART: </label> </div>-->

<!--                <div class="col-md-8">-->
<!--                  <input type="datetime-local" class="form-control" id="datetime-local2" placeholder="Enter email" name="datetime-local">-->
<!--                </div>-->

<!--                <div class="col-md-12"><button type="submit" class="btn btn-outline-secondary">reserver</button></div>-->
<!--              </form>-->

<!--            </div>-->

<!--            &lt;!&ndash; Modal footer &ndash;&gt;-->
<!--            <div class="modal-footer">-->
<!--              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">fermer</button>-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

    </div>
  </nav>
  <video class="heroCarouselMedia-video " src="assets/videobg.mp4" [playbackRate]="0.2" autoplay="" preload="auto" loop="" >
  </video>

</section>
<section class="rq-banner-area">
  <br><br><br><br>
  <div class="rq-banner-area-mask">
    <div class="container">
      <div class="bq-banner-text">
        <div class="bq-banner-text-middle">
          <img src="assets/logoKcHommeNouveau2.png" alt="Responsive image" width="50"
               class="logohover">
<!--          <img src="assets/logoKcHommecorrect357.png" alt="Responsive image" width="100" style="margin-left:506px; opacity: 0.8;">-->

          <br>
<!--          <h1 style="text-align: center;">MY ANDAKAS HOTEL</h1>logoKcHommeblanc1.png-->
          <h1 style="text-align: center;text-decoration: overline;margin-top: 14px;
          /*text-decoration-style: double;*/
          text-decoration-thickness: 0.07em;">
<!--            B E A U M O Y-->
            MOYI <br>
            Plus que le nombre de Graham en joule 5 778 K

           Math.pow(googleplex...)
          </h1>

<!--          <h3 style="text-align: center; font-size: medium;">welcome to Life Keys hotel</h3>-->
          <div class="banner-logo2">
            <a href="#">
              <img src="assets/banner-logo-3.png" alt="..">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="rq-checkout-area tete">
<!--  <div class="container-fluid">-->
    <div class="container">



    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">

            <picture>
              <source media="(min-width: 768px)" srcset="assets/footer.png">
              <img alt="Responsive Image" src="assets/footer.png" srcset="assets/footer.png">
            </picture>
        </div>
        <div class="carousel-item">

            <picture>
              <source media="(min-width: 768px)" srcset="assets/footer.png">
              <img alt="Responsive Image" src="assets/footer.png" srcset="assets/footer.png">
            </picture>
        </div>
        <div class="carousel-item">

          <picture>
            <source media="(min-width: 768px)" srcset="assets/footer.png">
            <img alt="Responsive Image" src="assets/footer.png" srcset="assets/footer.png">
          </picture>

<!--            <picture>-->
<!--              <source media="(min-width: 768px)" srcset="assets/luxeImg.jpg">-->
<!--              <img alt="Responsive Image" src="assets/luxeImg.jpg" srcset="assets/luxeImg.jpg">-->
<!--            </picture>-->
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>








<!--  <div class="cols-lg-1" style="width: 100%; min-height: 300px;  ">-->
<!--    <img src="assets/luxeImg.jpg" style="width: 100%; min-height: 300px;">-->
<!--    <form class="form-inline" action="/action_page.php" style="margin: auto">-->
<!--      <div class="col-md-1"><label for="datetime-local">ARRIVER: </label> </div>-->
<!--      <div class="col-md-5">-->
<!--        <input type="datetime-local" class="form-control" id="datetime-local" placeholder="Enter email" name="datetime-local">-->
<!--      </div>-->
<!--      <div class="col-md-1"><label for="datetime-local">DEPART: </label> </div>-->

<!--      <div class="col-md-4">-->
<!--        <input type="datetime-local" class="form-control" id="datetime-local2" placeholder="Enter email" name="datetime-local">-->
<!--      </div>-->

<!--      <div class="col-md-1"><button type="submit" class="btn btn-dark">Submit</button></div>-->
<!--    </form>-->
<!--</div>-->


  </div>


      </section>
<!--<section class="rq-testimonial-owl-carousel">-->




<!--&lt;!&ndash;  <div class="rq-sup-img-wrap">&ndash;&gt;-->
<!--&lt;!&ndash;    <picture>&ndash;&gt;-->
<!--&lt;!&ndash;      <source media="(min-width: 768px)" srcset="assets/luxeImg.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;      <img alt="Responsive Image" src="assets/luxeImg.jpg" srcset="assets/luxeImg.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;    </picture>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</section>-->

<section class="rq-hotel-palace">
  <div class="container ">

    <div class="rq-hotel-text text-center">
      <h2>welcome </h2>
<!--      assets/pona_logo_2.png-->
      <div class="rq-palace-logo">
        <hr style="background: #e8c79d; width: 30%; opacity: 0.1"><img src="assets/logoKcHommeblanc1.png" alt="Responsive image" width="30" alt="Hotel Palace"
                                              style="opacity: 0.1; margin-top: -61px;"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at, deleniti dolore libero quo tenetur totam! A assumenda aut deleniti dicta dignissimos et fugit magnam, porro praesentium quisquam, quos, ratione?</p>

      <p class="rq-customer-desg">General Manager</p>
      <div class="sign">
        <img src="assets/sign.jpg" class="img-responsive" alt="Responsive image">
      </div>
      <div class="rq-pal-bg">
        <img src="assets/palace-bg.png" class="img-responsive" alt="Responsive image">
      </div> <div class="rq-banner-icon">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
      <br>
      <h2 class="text-center">what we offer</h2>

    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 rq-our-offer">
        <div class="thumbnail">
          <div rq-img-wrapper>
            <picture><source media="(min-width:768px)" srcset="assets/couple.jpg">
              <img alt="couple" src="assets/couple.jpg" srcset="assets/couple.jpg" >
            </picture>
          </div>
          <div class="caption">
            <h3 style="text-align: center">
              <a href="#" style="text-decoration: none;
  color: black;">
                BOLINGO YA SOLO

              </a>
            </h3>
            <p style="text-align: justify">bobota bana... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquam animi commodi
              cum eum fuga fugiat hic impedit incidunt ipsum magnam maiores optio perferendis, perspiciatis quidem, sit totam voluptate! </p>
            <h4 class="special-span" >
          <span>
            18€
          </span>LE PETIT DEJEUNER
            </h4>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 rq-our-offer">
        <div class="thumbnail">
          <div class="rq-img-wrapper">
            <picture>
              <source media="(min-width: 768px)" srcset="assets/suku2.jpg">
              <img alt="Responsive Image" src="assets/suku.jpg" srcset="assets/suku2.jpg">
            </picture>
          </div>
          <div class="caption">
            <h3 style="text-align: center">
              <a href="#" style="text-decoration: none;
  color: black;">KOLIA KITOKO</a></h3>
            <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci debitis dicta enim eum harum
              laborum maxime necessitatibus nesciunt obcaecati, officiis omnis optio possimus quisquam repellendus repudiandae soluta temporibus tenetur ut.</p>
            <h4 class="special-span"><span>60€</span> LE DINNER</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 rq-our-offer">
        <div class="thumbnail">
          <div rq-img-wrapper>
            <picture><source media="(min-width:768px)" srcset="../../../assets/suku3.jpg">
              <img alt="couple" src="../../../assets/suku3.jpg" srcset="../../../assets/suku3.jpg" >
<!--              http://image.noelshack.com/fichiers/2021/26/4/1625143390-ch2.jpg-->

            </picture>
          </div>
          <div class="caption">
            <h3 style="text-align: center">
              <a href="#" style="text-decoration: none;
  color: black;">
                MBETO KITOKO

              </a>
            </h3>
            <p style="text-align: justify">bandoto kitoko kitoko pe nzoto kolongono... Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. A aspernatur consequatur debitis,
              dolores eligendi sint. Aperiam, deserunt dolorum error fugiat,
              ipsam ipsum molestiae non numquam, obcaecati quidem sed ullam veritatis! </p>
            <h4 class="special-span" >
          <span>
            180€
          </span>Nigth
            </h4>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<br>
<!---------------->
<section class="rq-slider-area parallax-window">
  <div>
    <picture>
      <source media="(min-width: 768px)" srcset="assets/video.png">
      <img alt="Responsive Image" src="assets/video.png" srcset="assets/video.png">
    </picture>
  </div>
<!--  <div class="rq-main-slider-mask"></div>-->

<!--  <a class="rq-video-play-btn popup-vimeo" href="#">-->
<!--  </a>-->
</section>
<br>
<br>
<br>
<br><br><br>
<!----------GGGGGG------------------------------->
<section class="rq-suprime-area">
  <div class="container">
    <h1 class="text-center">TO ZA KAKA BATU...</h1>
    <div class="rq-suprime-logo text-center"><img src="assets/pona_logo_2.png" alt="Responsive image"></div>
    <div class="rq-sup">
      <div class="row ">
        <div class="col-md-7 col-sm-7">
          <br><br><br>
          <div class="rq-sup-img-wrap">
            <picture>
              <source media="(min-width: 768px)" srcset="assets/suprime1.jpg">
              <img alt="Responsive Image" src="assets/suprime1.jpg" srcset="assets/suprime1.jpg">
            </picture>
          </div>
        </div>
        <div class="col-md-5 col-sm-5">
          <br><br><br>
          <div class="rq-suprime-text">
            <h4>best food <br> over the world</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus
              doloribus eveniet fugit impedit perferendis quaerat quasi,
              quia. Ab ipsa modi nostrum odio perferendis praesentium quia quod tenetur velit, vitae.</p>
            <ul class="nav">
              <li role="presentation"><span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span>Decorated room, proper air condioned</li>
              <li role="presentation"> <span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span>Saloon, gym, spa facilities</li>
              <li role="presentation"><span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span>24 hours room service</li>
            </ul>
            <a class="btn rq-btn-secondary" href="#">DETAIL</a>
          </div>
        </div>
      </div><!-- /row -->
    </div><!-- -------rq-sup-------------- -->
    <div class="rq-sup ">
      <div class="row">
        <div class="col-md-5 col-sm-5">
          <br><br><br><br><br>
          <div class="rq-suprime-text rq-suprime-text-2">
            <h4>luxurious<br>hotel’s room</h4>
            <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Aliquid cupiditate distinctio eaque earum, enim illum
              iure molestias perferendis provident, quam recusandae ut vero voluptates! A dolores facilis soluta unde veniam.</p>
            <ul class="nav">
              <li role="presentation"><span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span>Decorated room, proper air condioned</li>
              <li role="presentation"><span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span>Saloon, gym, spa facilities</li>
              <li role="presentation"><span class="badge"><i class="fa fa-check" aria-hidden="true"></i></span>24 hours room service</li>
            </ul>
            <a class="btn rq-btn-secondary" href="#">DETAIL</a>
          </div>
        </div>

        <div class="col-md-7 col-sm-7">
          <br><br><br><br><br>
          <div class="rq-sup-img-wrap">
            <picture>
              <source media="(min-width: 768px)" srcset="assets/suprime2.jpg">
              <img alt="Responsive Image" src="assets/suprime2.jpg" srcset="assets/suprime2.jpg">
            </picture>
          </div>
        </div>
      </div><!-- /row -->
      <br><br><br><br><br>
    </div><!---------rq-sup---------------->
  </div>
</section>

<!------------------------------------------------------------------------------------------->

<!--<section class="rq-content-making-area">-->
<!--  <div class="container ">-->
<!--&lt;!&ndash;   <div class="rq-owl-carousel-content">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="owl-carousel owl-loaded owl-drag">&ndash;&gt;-->


<!--        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-936px, 0px, 0px); transition: all 0s ease 0s; width: 1872px;"><div class="owl-item cloned" style="width: 312px;"><div class="rq-content-making-item">-->
<!--          <div class="rq-content-logo text-center center-block">-->
<!--            <i class="fa fa-quote-right" aria-hidden="true"></i>-->
<!--          </div>-->
<!--          <p class="text-center">Content making readable English desktop publishing packages editors point using is that making readable English desktop publishing packages editors point using it has a normal distribution as oppo</p>-->
<!--          <p class="rq-special text-center">ADRAIN SMITH</p>-->
<!--        </div></div><div class="owl-item cloned" style="width: 312px;"><div class="rq-content-making-item">-->
<!--          <div class="rq-content-logo text-center center-block">-->
<!--            <i class="fa fa-quote-right" aria-hidden="true"></i>-->
<!--          </div>-->
<!--          <p class="text-center">Content making readable English desktop publishing packages editors point using is making readable English desktop publishing packages editors point using it has a normal distribution as oppo</p>-->
<!--          <p class="rq-special text-center">ADRAIN SMITH</p>-->
<!--        </div></div><div class="owl-item" style="width: 312px;"><div class="rq-content-making-item">-->
<!--          <div class="rq-content-logo text-center center-block">-->
<!--            <i class="fa fa-quote-right" aria-hidden="true"></i>-->
<!--          </div>-->
<!--          <p class="text-center">Content making readable English desktop publishing packages editors point using is that making readable English desktop publishing packages editors point using it has a normal distribution as oppo</p>-->
<!--          <p class="rq-special text-center">ADRAIN SMITH</p>-->
<!--        </div></div><div class="owl-item active" style="width: 312px;"><div class="rq-content-making-item">-->
<!--          <div class="rq-content-logo text-center center-block">-->
<!--            <i class="fa fa-quote-right" aria-hidden="true"></i>-->
<!--          </div>-->
<!--          <p class="text-center">Content making readable English desktop publishing packages editors point using is making readable English desktop publishing packages editors point using it has a normal distribution as oppo</p>-->
<!--          <p class="rq-special text-center">ADRAIN SMITH</p>-->
<!--        </div></div><div class="owl-item cloned" style="width: 312px;"><div class="rq-content-making-item">-->
<!--          <div class="rq-content-logo text-center center-block">-->
<!--            <i class="fa fa-quote-right" aria-hidden="true"></i>-->
<!--          </div>-->
<!--          <p class="text-center">Content making readable English desktop publishing packages editors point using is that making readable English desktop publishing packages editors point using it has a normal distribution as oppo</p>-->
<!--          <p class="rq-special text-center">ADRAIN SMITH</p>-->
<!--        </div></div><div class="owl-item cloned" style="width: 312px;"><div class="rq-content-making-item">-->
<!--          <div class="rq-content-logo text-center center-block">-->
<!--            <i class="fa fa-quote-right" aria-hidden="true"></i>-->
<!--          </div>-->
<!--          <p class="text-center">Content making readable English desktop publishing packages editors point using is making readable English desktop publishing packages editors point using it has a normal distribution as oppo</p>-->
<!--          <p class="rq-special text-center">ADRAIN SMITH</p>-->
<!--        </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div>-->
<!--    </div><div class="owl-dots"><div class="owl-dot"><span></span></div>-->
<!--      <div class="owl-dot active"><span></span></div>-->

<!--  </div>-->
<!--  </div>&lt;!&ndash;&#45;&#45;&#45;&#45;/container &#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--</section>-->


<!------------------------------------------------------------------------------------------------------------->

<section class="rq-testimonial-owl-carousel">



    <br><br><br><br><br>
    <div class="rq-sup-img-wrap">
      <picture>
        <source media="(min-width: 768px)" srcset="assets/footer.png">
        <img alt="Responsive Image" src="assets/footer.png" srcset="assets/footer.png">
      </picture>
    </div>


<!--  <div class="owl-carousel bg-color owl-loaded owl-drag">-->





<!--    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1689px, 0px, 0px); transition: all 0s ease 0s; width: 3097px;"><div class="owl-item cloned" style="width: 281.5px;"><div class="port-img">-->
<!--      <a href="#">-->
<!--        <picture>-->
<!--          <source media="(min-width: 768px)" srcset="img/testimonial_3.jpg">-->
<!--          <img alt="Portfolio Image" src="img/testimonial_3.jpg" srcset="img/testimonial_3.jpg">-->
<!--        </picture>-->
<!--        <div class="mask1"></div>-->
<!--        <div class="rq-port-center">-->
<!--          <h4>PEMIUM LIVING</h4>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div></div><div class="owl-item cloned" style="width: 281.5px;"><div class="port-img">-->
<!--      <a href="#">-->
<!--        <picture>-->
<!--          <source media="(min-width: 768px)" srcset="img/testimonial_4.jpg">-->
<!--          <img alt="Portfolio Image" src="img/testimonial_4.jpg" srcset="img/testimonial_4.jpg">-->
<!--        </picture>-->
<!--        <div class="mask1"></div>-->
<!--        <div class="rq-port-center">-->
<!--          <h4>Tradtional CUSiNE</h4>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div></div><div class="owl-item cloned" style="width: 281.5px;"><div class="port-img">-->
<!--      <a href="#">-->
<!--        <picture>-->
<!--          <source media="(min-width: 768px)" srcset="img/testimonial_5.jpg">-->
<!--          <img alt="Portfolio Image" src="img/testimonial_5.jpg" srcset="img/testimonial_5.jpg">-->
<!--        </picture>-->
<!--        <div class="mask1"></div>-->
<!--        <div class="rq-port-center">-->
<!--          <h4>organic food</h4>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div></div><div class="owl-item" style="width: 281.5px;"><div class="port-img">-->
<!--      <a href="#">-->
<!--        <picture>-->
<!--          <source media="(min-width: 768px)" srcset="img/testimonial_1.jpg">-->
<!--          <img alt="Portfolio Image" src="img/testimonial_1.jpg" srcset="img/testimonial_1.jpg">-->
<!--        </picture>-->
<!--        <div class="mask1"></div>-->
<!--        <div class="rq-port-center">-->
<!--          <h4>quality food</h4>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div></div><div class="owl-item" style="width: 281.5px;"><div class="port-img">-->
<!--      <a href="#">-->
<!--        <picture>-->
<!--          <source media="(min-width: 768px)" srcset="img/testimonial_2.jpg">-->
<!--          <img alt="Portfolio Image" src="img/testimonial_2.jpg" srcset="img/testimonial_2.jpg">-->
<!--        </picture>-->
<!--        <div class="mask1"></div>-->
<!--        <div class="rq-port-center">-->
<!--          <h4>NICE DECOATION</h4>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div></div><div class="owl-item" style="width: 281.5px;"><div class="port-img">-->
<!--      <a href="#">-->
<!--        <picture>-->
<!--          <source media="(min-width: 768px)" srcset="img/testimonial_3.jpg">-->
<!--          <img alt="Portfolio Image" src="img/testimonial_3.jpg" srcset="img/testimonial_3.jpg">-->
<!--        </picture>-->
<!--        <div class="mask1"></div>-->
<!--        <div class="rq-port-center">-->
<!--          <h4>PEMIUM LIVING</h4>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div></div><div class="owl-item active" style="width: 281.5px;"><div class="port-img">-->
<!--      <a href="#">-->
<!--        <picture>-->
<!--          <source media="(min-width: 768px)" srcset="img/testimonial_4.jpg">-->
<!--          <img alt="Portfolio Image" src="img/testimonial_4.jpg" srcset="img/testimonial_4.jpg">-->
<!--        </picture>-->
<!--        <div class="mask1"></div>-->
<!--        <div class="rq-port-center">-->
<!--          <h4>Tradtional CUSiNE</h4>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div></div><div class="owl-item active" style="width: 281.5px;"><div class="port-img">-->
<!--      <a href="#">-->
<!--        <picture>-->
<!--          <source media="(min-width: 768px)" srcset="img/testimonial_5.jpg">-->
<!--          <img alt="Portfolio Image" src="img/testimonial_5.jpg" srcset="img/testimonial_5.jpg">-->
<!--        </picture>-->
<!--        <div class="mask1"></div>-->
<!--        <div class="rq-port-center">-->
<!--          <h4>organic food</h4>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div></div><div class="owl-item cloned" style="width: 281.5px;"><div class="port-img">-->
<!--      <a href="#">-->
<!--        <picture>-->
<!--          <source media="(min-width: 768px)" srcset="img/testimonial_1.jpg">-->
<!--          <img alt="Portfolio Image" src="img/testimonial_1.jpg" srcset="img/testimonial_1.jpg">-->
<!--        </picture>-->
<!--        <div class="mask1"></div>-->
<!--        <div class="rq-port-center">-->
<!--          <h4>quality food</h4>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div></div><div class="owl-item cloned" style="width: 281.5px;"><div class="port-img">-->
<!--      <a href="#">-->
<!--        <picture>-->
<!--          <source media="(min-width: 768px)" srcset="img/testimonial_2.jpg">-->
<!--          <img alt="Portfolio Image" src="img/testimonial_2.jpg" srcset="img/testimonial_2.jpg">-->
<!--        </picture>-->
<!--        <div class="mask1"></div>-->
<!--        <div class="rq-port-center">-->
<!--          <h4>NICE DECOATION</h4>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div></div><div class="owl-item cloned" style="width: 281.5px;"><div class="port-img">-->
<!--      <a href="#">-->
<!--        <picture>-->
<!--          <source media="(min-width: 768px)" srcset="img/testimonial_3.jpg">-->
<!--          <img alt="Portfolio Image" src="img/testimonial_3.jpg" srcset="img/testimonial_3.jpg">-->
<!--        </picture>-->
<!--        <div class="mask1"></div>-->
<!--        <div class="rq-port-center">-->
<!--          <h4>PEMIUM LIVING</h4>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>-->

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2711.066780733123!2d-1.46408364045647!3d47.1957054324463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805e60fc0ba400d%3A0xb24e8399c126cdf2!2s299%20Route%20des%20Landes%20de%20la%20Pl%C3%A9e%2C%2044115%20Basse-Goulaine!5e0!3m2!1sfr!2sfr!4v1619886496787!5m2!1sfr!2sfr" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>
<section class="step">

</section>



<!--   caroussel-->
<!--<div class="container mt-3">-->

<!--  <h2>Carousel</h2>-->
<!--  <div id="myCarousel" class="carousel slide" data-ride="carousel">-->

<!--    &lt;!&ndash; Indicators &ndash;&gt;-->
<!--    <ul class="carousel-indicators">-->
<!--      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
<!--      <li data-target="#myCarousel" data-slide-to="1"></li>-->
<!--      <li data-target="#myCarousel" data-slide-to="2"></li>-->
<!--    </ul>-->

<!--    &lt;!&ndash; The slideshow &ndash;&gt;-->
<!--    <div class="carousel-inner">-->
<!--      <div class="carousel-item active">-->
<!--        <img src="assets/footer.png" alt="Los Angeles" width="1100" height="500">-->
<!--      </div>-->
<!--      <div class="carousel-item">-->
<!--        <img src="assets/footer.png" alt="Chicago" width="1100" height="500">-->
<!--      </div>-->
<!--      <div class="carousel-item">-->
<!--        <img src="assets/footer.png" alt="New York" width="1100" height="500">-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Left and right controls &ndash;&gt;-->
<!--    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">-->
<!--      <span class="carousel-control-prev-icon"></span>-->
<!--    </a>-->
<!--    <a class="carousel-control-next" href="#myCarousel" data-slide="next">-->
<!--      <span class="carousel-control-next-icon"></span>-->
<!--    </a>-->
<!--  </div>-->

<!--</div>-->

<!-- The Contact Section -->
<div class="container" id="contact">
  <a href="http://www.noelshack.com/2021-26-4-1625143390-ch2.jpg"><img src="http://image.noelshack.com/minis/2021/26/4/1625143390-ch2.png" border="0" alt="1625143390-ch2.jpg - envoi d'image avec NoelShack" title="1625143390-ch2.jpg"/></a>

  <h2 class="w3-wide w3-center">CONTACT</h2>
  <p class="w3-opacity w3-center"><i>Fan? Drop a note!</i></p>
  <div class="w3-row w3-padding-32">
    <div class="w3-col m6 w3-large w3-margin-bottom">
      <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
      <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
      <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>

    </div>
    <div class="w3-col m6">
      <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
          </div>
        </div>
        <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
        <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
      </form>
      <ul class="social m-5">
        <li class="d-inline m"><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
        <li class="d-inline ml-lg-4"><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
        <li class="d-inline ml-lg-4"><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
      </ul>
    </div>
  </div>
</div>


<!-- End Page Content -->
<!-- Footer -->
<footer class="container-fluid  opacity light-grey xlarge bg-dark" style="min-height: 400px;">
<!--  <a href="#"><img src="https://i.ibb.co/wcczYXG/CH2.jpg" alt="CH2" border="0"></a>-->

  <a href=""><i class="fa fa-facebook-official hover-opacity"></i></a>
  <i class="fa fa-instagram hover-opacity"></i>
  <i class="fa fa-snapchat hover-opacity"></i>
  <i class="fa fa-pinterest-p hover-opacity"></i>
  <i class="fa fa-twitter hover-opacity"></i>
  <i class="fa fa-linkedin hover-opacity"></i>
  <p class="medium text-white">Powered by val<a href="#" target="_blank">val bebe</a></p>
  <img src="https://i.ibb.co/Sff3J8Y/CH2.jpg" alt="CH2" border="0">
</footer>

