*{
  /*font-family:"Futura Book", Arial, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  color: #171717;
  font-family: "Minion Italic", Georgia, serif;



}
table{width: 100%;}
.stepper {
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
  margin: 18px;
  padding: 18px;
}
/**:hover{*/
/*  color: #e8c79d;*/
/*  !*background: #867050;*!*/
/*}*/
.success {
  text-align: center;
}

button:hover{

  background: #867050;
  color: white;
}
a:hover{

  background: #867050;
  color: white;
}
.carousel-inner img {
  width: 100%;
  min-height: auto;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  width: 2rem;
}
.custom-day:hover, .custom-day.focused {
  background-color: #e6e6e6;
}
.weekend {
  background-color: #f0ad4e;
  border-radius: 1rem;
  color: white;
}
.hidden {
  display: none;
}
.bg-secondary {
  background-color: #c9d0d6!important;
}
